.popup {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    color: #000;
    z-index: 9999;

    .close {
        width: 10px;
        height: 10px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px;
        cursor: pointer;

        &:before, 
        &:after {
            content: '';
            display: block;
            width: 2px;
            height: 20px;
            background-color: #333;
            position: absolute;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
             transform: rotate(135deg);
        }
    }

    .card {
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        width: 30%;
        height: 200px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;

        h4, p {
            margin: 0;
        }

        h4 {
            font-size: 40px;
            color: #222;
        }

        p {
            font-family: 'db_heaventlight';
            text-align: center;
            letter-spacing: 1.2px;
            color: #222;
            font-size: 20px;
        }

        iframe {
            margin-top: 20px;
        }
    }
}