.header {
    background-color: #7BDFF2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.bar {
    padding: 20px 10px;
    font-family: 'db_heaventlight';
    display: flex;
    justify-content: center;
    background-color: #3D3E3E;
    color: #FFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    transform: translateY(-100%);
    transition: all .2s ease-in-out;

    &.is-show {
        transform: translate(0);
        transition: all .2s ease-in-out 0.5s;
    }

    ul {
        list-style: none;
        display: flex;
        margin: 0;

        li {
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px dashed #FFF; 
            text-transform: uppercase;

            &:last-child {
                border-right: 0;
            }
        }
    }   
}

.heading {
    text-align: center;
    position: relative;
    z-index: 1000;

    p {
        font-family: 'db_heaventlight';
        color: #444;
        font-size: 30px;
        margin: 0;
    }
}

h1, h2, .button {
    color: #FFFFFF;
}

h1 {
    font-family: Pacifico;
    font-size: 144px;
    letter-spacing: -0.32px;
    line-height: 160px;
}

h2 {
    font-family: 'db_heaventlight';
    font-size: 48px;
    letter-spacing: -0.11px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: normal;
}

.button {
    margin: 20px 0;
    display: inline-block;
    font-family: 'db_heaventlight';
    font-size: 20px;
    background: #3D3E3E;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 70px;
    box-shadow: 2px 2px 0px #2176a9;

    &:last-child {
        margin-right: 0;

        a {
            padding: 10px 20px;
        }
    }
}

.cartoon {
    width: 100px;
    position: absolute;
    bottom: 0;
}


.cartoon-1 {
    animation: cartoon-1 3.4s infinite ease-in-out;
    left: 45%;
    z-index: 1000;
    bottom: -20px;
}

.cartoon-2 {
    animation: cartoon-2 2.5s infinite ease-in-out;
    left: 30%;
    width: 60px;
}

.cartoon-3 {
    animation: cartoon-3 3s infinite ease-in-out;
    left: 70%;
    width: 50px;
}

.water {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  bottom: -20px;
  left: 0;
  background: #32bafa;
  transform: translate(0, 50%);
  
  &__inner {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  &__wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
    z-index: 999;
    bottom: -1px;

    &_back {
      right: 0;
      fill: #F7FDFC;
      animation: wave-back 3.5s infinite linear;
      z-index: 1001;
    }
    &_front {
      left: 0;
      fill: #A2E8F5;
      animation: wave-front 3s infinite linear;
    }
  }
}

@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}


@keyframes cartoon-1 {
    50% {
        transform: translateY(-10%) rotate(-2deg);
    }
}

@keyframes cartoon-2 {
    50% {
        transform: translateY(-5%) rotate(-2deg);
    }
}

@keyframes cartoon-3 {
    50% {
        transform: translateY(-10%) rotate(-2deg);
    }
}

@media screen and (max-width: 800px) {
    .bar {
        display: none;
    }
    
    .header {
        padding: 20px;
        box-sizing: border-box;

        h1 {
            font-size: 80px;
            line-height: 1;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 25px;
        }
    }

    svg, .cartoon {
        display: none;
    }
}