.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(236, 240, 241,1.0);
    
    form {
        max-width: 300px;

        h1 {
            font-size: 30px;
            text-align: center;
            font-family: 'db_heaventlight';
            margin: 0;
            color: #222;
            line-height: 3;
            letter-spacing: 1.2px;
        }
    }

    input {
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: none;
        border: none;
    }

    button {
        width: 100%;
        border-radius: 10px;
    }
}